apiVersion: v1
kind: ConfigMap
metadata:
  name: amf-cmap
  labels:
    epc-mode: amf
data:
  amf.yaml: |
    logger:
      file:
        path: /opt/open5gs/var/log/open5gs/amf.log
        level: debug
        domain: sbi

    amf:
      sbi:
        server:
          - address: 0.0.0.0
            port: 7777
            advertise: 10.107.113.207
        client:
          nrf:
            - uri: http://10.101.41.194:7777
      ngap:
        server:
          - dev: {{ .Values.k8s.interface }}
      guami:
        - plmn_id:
            mcc: {{ .Values.amf.mcc }}
            mnc: {{ .Values.amf.mnc }}
          amf_id:
            region: 2
            set: 1
      tai:
        - plmn_id:
            mcc: {{ .Values.amf.mcc }}
            mnc: {{ .Values.amf.mnc }}
          tac: {{ .Values.amf.tac }}
      plmn_support:
        - plmn_id:
            mcc: {{ .Values.amf.mcc }}
            mnc: {{ .Values.amf.mnc }}
          s_nssai:
            - sst: 1
      security:
        integrity_order: [ NIA2, NIA1, NIA0 ]
        ciphering_order: [ NEA0, NEA1, NEA2 ]
      network_name:
        full: Open5GS
      amf_name: open5gs-amf0
      time:
        t3512:
          value: 540    # 9 minutes * 60 = 540 seconds
