services:
  # MongoDB servic

  test-server:
    image: python:3.12.10-slim
    container_name: test_server
    ports:
      - "8001:8001"
    volumes:
      - ./NEF/MonitoringEventAPI/test_server.py:/test_server.py
    restart: no
    command: ["/bin/sh", "-c", "python test_server.py"]
    networks:
      - nef-network



  # The NEF service depends on the db and backend services.(Panagiwths kai Andreas)
  nef:
    build:
      context: ./NEF/MonitoringEventAPI
    container_name: nef
    restart: unless-stopped
    env_file: .env
    ports:
      - "8000:8000"
    networks:
      - nef-network

  core_crowler:
      build:
        context: ./core_crowler
      container_name: core_crowler
      restart: unless-stopped
      env_file: .env
      networks:
        - nef-network
      user: root
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock
        - /usr/bin/kubectl:/usr/bin/kubectl:ro        # mount host kubectl
        - ~/.kube:/root/.kube:ro   



volumes:
  db_data:

networks:
  nef-network:
    driver: bridge
