apiVersion: apps/v1
kind: Deployment
metadata:
  name: nef-depl
  labels:
    app: nef
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nef
  template:
    metadata:
      labels:
        app: nef
    spec:
      containers:
        - name: nef
          image: tatendaupc/nef-tats:latest
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: nef-env-config
---
apiVersion: v1
kind: Service
metadata:
  name: nef-svc
spec:
  selector:
    app: nef
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
  type: ClusterIP
