apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: prometheus
  name: prometheus-external
  namespace: monitoring
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: prometheus
    prometheus: prometheus-kube-prometheus-prometheus
  ports:
    - port: 9090  # Service port
      targetPort: 9090 # Pod port
      nodePort: 30041 # Node port